{% extends 'base.html.twig' %}

{% block title %}SUAPS{% endblock %}

{% block body %}
<style>
    #title {
        margin-top: 3%;
        font-size: 500%;
    }
    #salle_muscu {
        margin-top: 2%;
    }
    #statistiques {
        margin-top: 2%;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="container justify-content-md-center">
        <div class="row justify-content-md-center">
            <div id="title" class="col-md-6">
                SUAPS
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div id="salle_muscu" class="col-md-4">
                <button type="button" class="btn btn-info btn-lg btn-block" onclick="redirect('salle')">SALLE DE MUSCULATION</button>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div id="statistiques" class="col-md-4">
                <button type="button" class="btn btn-info btn-lg btn-block" onclick="redirect('stats')">STATISTIQUES</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function redirect(str) {
        var url = "";
        if (str == "salle") {
            url = "/controlleur/listePersonne/0"
        } else if (str == "stats") {
            url = "/controlleur/statistiques/badgeages/30";
        } else {
            return;
        }
        window.location = url;
    }
</script>
{% endblock %}
