<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" /> <!-- Bootstrap CDN -->
        <meta http-equiv="Refresh" content="120"> <!-- Réactualise la page tous les 2 minutes -->
	<!--
        <style>
            body{
                background-image: url("bodybuilding.jpg");
            }
        </style>
	-->
    </head>
    
    <body>
        <div class="container-fluid" style="margin-top:50px;">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>

