<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" /> <!-- Bootstrap CDN -->
        <meta http-equiv="Refresh" content="6000"> <!-- Réactualise la page tous les 2 minutes = 120 secondes -->
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        <div>
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>

